<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
    <img class="footballimage" src="/images/footballimage3.jpg">
    <div class="text-container">
        <h1 class="first4">4</h1>
        <h1 class="second4">4</h1>
        <h1 class="comment"><strong>OOPS!</strong>,Page not found,return to <a href="http://localhost:3000/">homepage</a></h1>
    </div>
</body>
</html>