<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="heading"><h1>KNOW MORE ABOUT FOOTBALL CLUBS</h1></div>
    <div class="firstrow">
    <a href="http://localhost:3000/mancity"><img class="mancitylogo" src="/images/mancitylogo2.svg" /></a>
    <a href="http://localhost:3000/liverpool"><img class="liverpoollogo" src="/images/liverpool.png" /> </a>
    <a href="http://localhost:3000/chelsea"><img class="chelsealogo" src="/images/chelsea.webp"></a>
    <a href="http://localhost:3000/newcastel"><img class="newcastellogo" src="/images/newcastellogo.png"></a>
    </div>
</body>
</html>