<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWCASTEL UNITED</title>
    <link rel="stylesheet" href="/stylesheets/newcastel.css">
</head>
<body>
    <div class="liverpool">
        <h1 class="chelsea">NEWCASTEL UNITED</h1><img class="logo" src="/images/newcastellogo.png" />
        <img class="puma" src="/images/castorelogo.png"/>
        
        <h2 class="name">MANAGER</h2>
     <div class="manager">
        <a id="hoverpep" href="https://www.mancity.com/players/pep-guardiola"><img class="pep" src="/images/newcastelmanger.jpg" /></a>
        <div class="overlay">
            <div class="text">
                Eddie Howe
    
            </div>
        </div>
        
        </div>
        <h2 class="names">OWNER</h2>
        <div class="owner">
        <a href="https://en.wikipedia.org/wiki/Mansour_bin_Zayed_Al_Nahyan"><img class="sheikhmansour" src="/images/newcastelowner.webp" /> </a>
        <div class="overlays">
            <div class="texts">
                Prince Mohammad bin Salman 
    
            </div>
        </div>
        
        </div>
        <h2 class="names1">STADIUM</h2>
        <div class="stadium">
            <a href="https://en.wikipedia.org/wiki/City_of_Manchester_Stadium"><img class="mancitystadium" src="/images/newcastelstadium.jpg" /> </a>
            <div class="overlays1">
                <div class="texts1">
                    <!-- Etihad Stadium -->
                    <!-- Stamford Bridge -->
                    St. James' Park
        
                </div>
            </div>
            
            </div>
            <h2 class="names2">SQUAD</h2>
            <div class="SQUAD">
                <a href="https://en.wikipedia.org/wiki/City_of_Manchester_Stadium"><img class="mancitysquad" src="/images/newcastelsquad.jpeg" /> </a>
                <div class="overlays2">
                    <div class="texts2">
                        
                        NEWCASTELUNITED SQUAD
            
                    </div>
                </div>
                <h2 class="names3">ACHIEVEMENTS</h2>
        <div class="achievements">
            <a href="https://en.wikipedia.org/wiki/History_of_Manchester_City_F.C.#:~:text=Manchester%20City%20have%20won%20thirty,one%20FIFA%20Club%20World%20Cup."><img class="mancityachievements" src="/images/newcastelachvments.jpg" /> </a>
            <div class="overlays3">
                <div class="texts3">
                    
                    ACHIEVEMENTS
        
                </div>
            </div>
            
            </div>
                
                </div>
    </div>
    <a href="https://www.instagram.com/nufc/?hl=en"><img class="instagram" src="/images/Instagram-Icon.png"></a>
    <a href="https://twitter.com/NUFC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img class="twitter" src="/images/twitterlogo.webp"> </a>
    <a href="https://www.youtube.com/channel/UCywGl_BPp9QhD0uAcP2HsJw"><img class="youtube" src="/images/youtube.png"></a>
</body>
</html>