.liverpool{
    display:flex;
    justify-content: center;
}
*{
    background-color: #034694;
} 
.chelsea{
    color: white;
}
.blue{
    color: white;
}
.logo{
    height: 100px;
    width:100px;
    position: absolute;
    top:8px;
    left:16px;
    
}
.puma{
  height: 150px;
  width: 150px;
  position: absolute;
  top: -4px;
  left:120px;
  color: black;
}
.puma2{
  color:white;
  /* height: 50px;
  width: 50px; */
  position: absolute;
  top:10px;
  left: 160px;
  font-size: 20px; 
}
.pep{
    height:200px;
    width:300px;
    position: absolute;
    top:150px;
    right:16px;
    border-radius: 20px;
    cursor: pointer;
    

}
.overlay {
    position: absolute;
    top: 150px;
    
    right: 16px;
    height:200px;
    width:300px;
    
    opacity: 0;
    transition: .2s ease;
    background-color:white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .manager:hover .overlay {
    opacity: 0.5;
    
  }
 
  .name{
    top:100px;
    right:120px;
    position: absolute;
    color: white;
    
  }

  
  .text {
    
    color:black;
    
    position: absolute;
    top:150px;
    right:10000px;
    left:100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .sheikhmansour{
    height:200px;
    width:300px;
    position: absolute;
    top:150px;
    left:16px;
    border-radius: 20px;
    cursor: pointer;

}
.overlays {
    position: absolute;
    top: 150px;
    
    left: 16px;
    height:200px;
    width:300px;
    
    opacity: 0;
    transition: .2s ease;
    background-color:white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .owner:hover .overlays {
    opacity: 0.5;
  }

.names{
    top:100px;
    left:120px;
    position: absolute;
    color: white;
    
  }
.texts{
    color:black;
    
    position: absolute;
    top:150px;
    right:10000px;
    left:100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.mancitystadium{
    height:200px;
    width:300px;
    position: absolute;
    top:150px;
    right:0px;
    left:600px;
    
    border-radius: 20px;
    cursor: pointer;
  
  }
  .overlays1 {
    position: absolute;
    top: 150px;
    
    left:600px;
    right: 0px;
    height:200px;
    width:300px;
    
    opacity: 0;
    transition: .2s ease;
    background-color:white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .stadium:hover .overlays1 {
    opacity: 0.5;
  }
  
  .names1{
    top:100px;
    left:700px;
    right:0px;
    position: absolute;
    color: white;
    
  }
  .texts1{
    color:black;
    
    position: absolute;
    top:150px;
    right:10000px;
    left:100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .mancitysquad{
    height:200px;
    width:300px;
    position: absolute;
    top:450px;
   
    left:300px;
    
    border-radius: 20px;
    cursor: pointer;
  
  }
  .overlays2 {
    position: absolute;
    top: 450px;
    
    left:300px;
    
    height:200px;
    width:300px;
    
    opacity: 0;
    transition: .2s ease;
    background-color:white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .SQUAD:hover .overlays2 {
    opacity: 0.5;
  }
  
  .names2{
    top:400px;
    left:400px;
    
    position: absolute;
    color: white;
    
  }
  .texts2{
    color:black;
    
    position: absolute;
    top:150px;
    right:10000px;
    left:100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .mancityachievements{
    height:200px;
    width:300px;
    position: absolute;
    top:450px;
   
    right:300px;
    
    border-radius: 20px;
    cursor: pointer;
  
  }
  .overlays3 {
    position: absolute;
    top: 450px;
    
    right:300px;
    
    height:200px;
    width:300px;
    
    opacity: 0;
    transition: .2s ease;
    background-color:white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .achievements:hover .overlays3 {
    opacity: 0.5;
  }
  
  .names3{
    top:400px;
    right:350px;
    
    position: absolute;
    color: white;
    
  }
  .texts3{
    color:black;
    
    position: absolute;
    top:150px;
    right:10000px;
    left:100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .instagram{
    height: 40px;
    width: 40px;
    position: absolute;
    top:10px;
    right:130px;
    border-radius: 40%;
    cursor: pointer;
}
.twitter{
    height: 40px;
    width: 40px;
    position: absolute;
    top:10px;
    right:16px;
    border-radius: 40%;
    cursor: pointer;
}
.youtube{
  height: 35px;
  width: 45px;
  position: absolute;
  top:13px;
  right:70px;
  border-radius: 10px;
  cursor: pointer;
}
